In [1]:
import yfinance as yf

In [4]:
price_history = yf.Ticker('NDX').history(
    period='max', # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
    interval='1d', # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
    actions=False)

In [5]:
price_history

,Open,High,Low,Close,Volume
Date,,,,,
1985-10-01 00:00:00-04:00,110.620003,112.160004,110.565002,112.139999,153160000
1985-10-02 00:00:00-04:00,112.139999,112.540001,110.779999,110.824997,164640000
1985-10-03 00:00:00-04:00,110.839996,111.184998,110.120003,110.870003,147300000
1985-10-04 00:00:00-04:00,110.870003,110.870003,109.855003,110.074997,147900000
1985-10-07 00:00:00-04:00,110.074997,110.135002,108.175003,108.199997,128640000
...,...,...,...,...,...
2023-01-19 00:00:00-05:00,11345.190430,11388.459961,11251.940430,11295.669922,4660800000
2023-01-20 00:00:00-05:00,11363.849609,11623.200195,11329.540039,11619.030273,5980110000
2023-01-23 00:00:00-05:00,11652.000000,11918.860352,11617.830078,11872.540039,5997810000
2023-01-24 00:00:00-05:00,11802.950195,11889.370117,11780.070312,11846.639648,5670860000
2023-01-25 00:00:00-05:00,11636.009766,11841.809570,11550.070312,11814.690430,5485570000