In [1]:
%run setting.ipynb

# load data

In [2]:
TQQQ_simulation = pd.read_excel('TQQQ_simulation.xlsx')

In [3]:
QLD_simulation = pd.read_excel('QLD_simulation.xlsx')

In [4]:
NDX = pd.read_csv('^NDX.csv')

In [5]:
GSPC = yf.Ticker('^GSPC').history(
    period='max', 
    interval='1d', 
    actions=False)

GSPC = GSPC.reset_index()
GSPC['id'] = GSPC.index
GSPC['Date'] = pd.to_datetime(GSPC['Date']).dt.date

C:\Users\jimwa\AppData\Local\Programs\Python\Python310\lib\site-packages\yfinance\utils.py:771: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

In [6]:
SPXL_simulation = pd.read_excel('SPXL_simulation.xlsx')

# dataframe to table

In [7]:
df_to_table(TQQQ_simulation, 'TQQQ')
df_to_table(QLD_simulation, 'QDL')
df_to_table(NDX, 'NDX')

##

df_to_table(GSPC, 'GSPC')
df_to_table(SPXL_simulation, 'SPXL')

24185

# join all the stocks

In [10]:
sql_to_table(f"""
select a.Date,
a.Close as NDX,
--
b.simulated_QLD,
c.simulated_TQQQ,
d.Close as GSPC,
e.simulated_SPXL
--
from NDX as a 
--
join QDL as b on a.Date = b.Date
join TQQQ as c on a.Date = c.Date
join GSPC as d on a.Date = d.Date
join SPXL as e on a.Date = e.Date
""", 'all_data')

9709

In [14]:
sql(f"""

with a as (
select *
from all_data
order by Date asc
limit 1
)

select b.*,
--
b.NDX/a.NDX as NDX_rate,
b.simulated_QLD/a.simulated_QLD as QLD_rate,
b.simulated_TQQQ/a.simulated_TQQQ as TQQQ_rate,
b.GSPC/a.GSPC as GSPC_rate,
b.simulated_SPXL/a.simulated_SPXL as SPXL_rate
--
from all_data as b, a
""")

,Date,NDX,simulated_QLD,simulated_TQQQ,GSPC,simulated_SPXL,NDX_rate
0,1985-10-02,110.824997,0.555690,0.556895,184.059998,0.095978,1.000000
1,1985-10-03,110.870003,0.555729,0.556951,184.360001,0.097843,1.000406
2,1985-10-04,110.074997,0.555040,0.555964,183.220001,0.090734,0.993233
3,1985-10-07,108.199997,0.553426,0.553671,181.869995,0.082421,0.976314
4,1985-10-08,107.160004,0.552546,0.552443,181.869995,0.082421,0.966930
...,...,...,...,...,...,...,...
9704,2024-04-05,18108.460938,92.255812,69.873407,5204.339844,143.131985,163.396900
9705,2024-04-08,18100.189453,92.171996,69.778358,5202.390137,142.970799,163.322264
9706,2024-04-09,18169.900391,92.878066,70.578684,5209.910156,143.592027,163.951282
9707,2024-04-10,18011.660156,91.269173,68.748044,5160.640137,139.510090,162.523444
9708,2024-04-11,18307.980469,94.255514,72.115863,5199.060059,142.632336,165.197212